@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

*{
     padding: 0;
     margin: 0;
}

body{
     font-family: 'Montserrat', sans-serif;  
}
/*-------------------------
header-area-style
-------------------------*/
.container{
     max-width: 1200px;
     margin: 0 auto;
     padding: 50px;
}
.navigation{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.navigation h2{
     font-size: 2.3em;
}
.nav-item{
     display: flex;
}
.nav-item li{
     list-style: none;
     margin-right: 20px;
}
.nav-item a{
     text-decoration: none;
     font-weight: 600;
     color:black;
     font-size: 1.3em;
     padding: 10px 5px;
}
/*-------------------------
 End header-area-style
-------------------------*/

/*--------------------------- 
1st section area style
----------------------------*/
section{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.left-side h1{
     font-size: 4em;
     padding-bottom: 20px;
}
.left-side h3{
     line-height: 1.5em;
}
.button{
     width: 250px;
     padding: 20px;
     background-color:crimson;
     text-align: center;
     border-radius: 50px;
     margin-top: 50px;
}
.button a{
     text-decoration: none;
     color: #fff;
     font-size: 1.5em;
     font-weight: 600;
     
}
.button i{
     color: #fff;
     margin-left: 10px;
}
.right{
     width: 50%;
}
.right img{
     width: 100%;
}
/*--------------------------- 
 End 1st section area style
----------------------------*/